body {
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
}

h1 {
	text-align: center;
	font-size: 175%;
}

section {
	box-sizing: border-box;
	float: left;
	background-color: #999999;
	position: relative;
	border: 1px solid black;
	margin: 10px 0 10px 0;
	padding: 35px 20px 12px 20px;
}

section div {
	text-align: center;
	padding: 4px 0;
	width: 190px;
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	font-size: 125%;
	margin: -1px -1px 0 0;
	font-weight: bold;
}

#sec1 div {
	background-color: #D59898;
}

#sec2 div {
	background-color: #C14543;
	color: white;
}

#sec3 div {
	background-color: #E5D198;
}

/* Desktop version */
@media (min-width: 992px) {
	section {
		width: 29.33%;
	}
	#sec1, #sec3 {
		margin-right: 3%;
		margin-left: 3%;
	}
}

/* Tablet version */
@media (min-width: 768px) and (max-width: 991px) {
	#sec1 {
		width: 45.5%;
		margin-left: 3%;
	}
	#sec2 {
		width: 45.5%;
		margin-left: 3%;
		margin-right: 3%;
	}
	#sec3 {
		width: 94%;
		margin-right: 3%;
		margin-left: 3%;
	}
}

/* Mobile version */
@media (max-width: 767px) {
	section {
		width: 94%;
		margin-right: 3%;
		margin-left: 3%;
	}
}